body {
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    text-align: justify;
    line-height: normal;
    margin: 10% 20% 10% 20%;
    min-width: 60%;
}

h1 {}

h2 {}

h3 {}

p {}

a {}