body {
    background-color: white;
    color: black;
    font-family: 'Andale Mono', monospace;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
    line-height: normal;
    margin: 10% 20% 10% 20%;
    min-width: 60%;
}

h1 {}

h2 {}

h3 {}

p {}

a {}